## Employee database normalization


Consider the following Employee_project relatonship. 

**Employee_project(Name, Project, Task, Office, Floor, Phone):**

* Name is the employeeâ€™s name
* Project is the project they are working on. Bill is working on two different projects, Sue is working on 3.
* Task is the current task being worked on. Bill is now working on Tasks T1 and T2. Note that Tasks are independent of the project. Examples of a task might be updating a web site or holding a meeting.
* Office is the office number for the employee. Bill works in office number 400.
* Floor is the floor on which the office is located.
* Phone is the phone extension. Note this is associated with the phone in the given office.



#### Example dataset:

|Name 	|Project 	|Task 	|Office 	|Floor 	|Phone
|---|---|---|---|---|---|
|Bill 	|100X 	|T1 	|400 	|4 	|1400
|Bill 	|100X 	|T2 	|400 	|4 	|1400
|Bill 	|200Y 	|T1 	|400 	|4 	|1400
|Bill 	|200Y 	|T2 	|400 	|4 	|1400
|Sue 	|100X 	|T33 	|442 	|4 	|1442
|Sue 	|200Y 	|T33 	|442 	|4 	|1442
|Sue 	|300Z 	|T33 	|442 	|4 	|1442
|Ed 	|100X 	|T2 	|588 	|5 	|1588

### Note

* While breaking the above table, give appropriate names to the relations. 
* You don't need to show tables with data. Just specify the table with the attributes
* Justy why the tables are in 1-NF
* Add additional cells if required. Use markdown or raw nbcovert as cell type. 

### 1. Is the above relation in 1-NF? If not, specify the reasons? If required, Decompose the above relation into relations that follow 1-NF.

### 2. Is the above relation in 1-NF are also in 2-NF? If not, specify the reasons? If required, decompose the relations into 2-NF.

### 3. Are the above relations in 3-NF? If not, specify the reasons? If required, decompose the relations into 3-NF.