# Subquery Practices

A PDF of the _Entity-Relationship Diagrams_ (ERD) is available [here](https://indigo.sgn.missouri.edu/static/PDF/DVD_Rental_ERD2.pdf).

In [ ]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

### Some Tips

#### How to comment out SQL code?

In [ ]:
%%sql 


-- The following is a single line comment

-- select * from category

-- The following is a multiline comment occurs between /* and */
/*
select c. category_id, count(c. category_id)
from category c, film_category
group by c.category_id
order by count(*)
*/

select count(*) from film_category;

#### How to save the results to a pandas data frame?

In [ ]:
import pandas as pd

In [ ]:
df = %sql select * from category

In [ ]:
df

In [ ]:
%%sql

Select * from film 
where title like 'God%';

In [ ]:
-- This will not work
df = %%sql

Select * from film 
where title like 'God%';

Using underscore (_) we can get the last executed result

In [ ]:

res = _
type(res)

In [ ]:
df = pd.DataFrame(res)

In [ ]:
df.head()

### 1. Find names of customers who’ve rented film id 364 (Godfather Diary)

Solve the problem with three differ queries: 

* Join
* Type-I Subquery
* Type-II Subquery

#### A. Using Join

In [ ]:
%%sql

#### B. Using Type-I Subquery.

In [ ]:
%%sql

#### C. Using Type 2 Query

In [ ]:
%%sql

### 1.1 Count the names of customers who didn't rent film id 364 (Godfather Diary)¶

#### A. Using Join

In [ ]:
%%sql 

select count(distinct c.customer_id)
from customer c join rental r using(customer_id) 
    join inventory i using(inventory_id)
    join film f using(film_id)
where  f.title <> 'Godfather Diary'

**Q. Is this correct?** No

In [ ]:
%%sql
select count(*) from customer;

#### B. Type-I subquery

In [ ]:
%%sql

#### C. Using Type-II Subquery

In [ ]:
%%sql

### 2. Find active customers who have rented movies priced $9.99

#### A. Using Join

In [ ]:
%%sql

#### B. Using Type I

In [ ]:
%%sql

#### C. Using Type II

In [ ]:
%%sql

### 3. Find films whose rental rate is greater than that of the film Godfather Diary :

In [ ]:
%%sql

### 4. Find all films whose rental_rates are greater than the lowest rental_rate of every movie category

**Step 1: Get the lowest rental rate of each category**

In [ ]:
%%sql

**Step 2: Use the step 1 as a subquery while scanning the film table. For comparison we have to use ALL operator (Not shown in the labs)**

In [ ]:
%%sql

### 5. Find all films whose rental_rates are greater than or equal to the highest rental_rate of some category

In [ ]:
%%sql

### 6. Find customers in store 1 that spent less than 2.99 on individual rentals, but have spent a total higher than $5.

In [ ]:
%%sql

### 7. Find the names of all films that are either Sci-Fi or Travel movies.

#### A. Using Join

In [ ]:
%%sql

#### B. Using Type-I

In [ ]:
%%sql

#### C. Using Type-2

In [ ]:
%%sql

### 8. Find the maximum average rental_rate for the film categories

**Step 1: Find the average rental_rate per category**

In [ ]:
%%sql

**Step 2: Use the result as a nested table and join with category**

In [ ]:
%%sql

**Step 3: Get the max value from the resultant table of the Step 2 join expression**

In [ ]:
%%sql

**Q. How to select max avg rate along with other colmns of the record.**

**Q. Add a column total rent for each category to the above CatAvgRate table.**

In [ ]:
%%sql

In [ ]:
%%sql