# Views Exercise


This exercise requires you to have completed the task of Module 2, Exercise [Database Create and Load](../../module2/exercises/CreateAndLoadSurveyDB.ipynb).

Recall from the exercise that you loaded this [survey.db.sql](../../module2/exercises//survey.db.sql) file.
This created the familiar Survey database with the tables:
 * Person
 * Site
 * Visited
 * Survey
 
For this exercise, you will create a couple views over the Survey tables.

<div class="row">
<div class="col-md-6">

<p>  
<strong>Person</strong>: people who took readings.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>personal</th>
<th>family</th>
</tr>
</thead>
<tbody>
<tr>
<td>dyer</td>
<td>William</td>
<td>Dyer</td>
</tr>
<tr>
<td>pb</td>
<td>Frank</td>
<td>Pabodie</td>
</tr>
<tr>
<td>lake</td>
<td>Anderson</td>
<td>Lake</td>
</tr>
<tr>
<td>roe</td>
<td>Valentina</td>
<td>Roerich</td>
</tr>
<tr>
<td>danforth</td>
<td>Frank</td>
<td>Danforth</td>
</tr>
</tbody>
</table>


<strong>Site</strong>: locations where readings were taken.</p>

<table>
<thead>
<tr>
<th>name</th>
<th>lat</th>
<th>long</th>
</tr>
</thead>
<tbody>
<tr>
<td>DR-1</td>
<td>-49.85</td>
<td>-128.57</td>
</tr>
<tr>
<td>DR-3</td>
<td>-47.15</td>
<td>-126.72</td>
</tr>
<tr>
<td>MSK-4</td>
<td>-48.87</td>
<td>-123.4</td>
</tr>
</tbody>
</table>

<p><strong>Visited</strong>: when readings were taken at specific sites.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>site</th>
<th>dated</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>DR-1</td>
<td>1927-02-08</td>
</tr>
<tr>
<td>622</td>
<td>DR-1</td>
<td>1927-02-10</td>
</tr>
<tr>
<td>734</td>
<td>DR-3</td>
<td>1930-01-07</td>
</tr>
<tr>
<td>735</td>
<td>DR-3</td>
<td>1930-01-12</td>
</tr>
<tr>
<td>751</td>
<td>DR-3</td>
<td>1930-02-26</td>
</tr>
<tr>
<td>752</td>
<td>DR-3</td>
<td>-null-</td>
</tr>
<tr>
<td>837</td>
<td>MSK-4</td>
<td>1932-01-14</td>
</tr>
<tr>
<td>844</td>
<td>DR-1</td>
<td>1932-03-22</td>
</tr>
</tbody>
</table>

</div>
<div class="col-md-6">

<p><strong>Survey</strong>: the actual readings.</p>

<table>
<thead>
<tr>
<th>taken</th>
<th>person</th>
<th>quant</th>
<th>reading</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>dyer</td>
<td>rad</td>
<td>9.82</td>
</tr>
<tr>
<td>619</td>
<td>dyer</td>
<td>sal</td>
<td>0.13</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>rad</td>
<td>7.8</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>rad</td>
<td>8.41</td>
</tr>
<tr>
<td>734</td>
<td>lake</td>
<td>sal</td>
<td>0.05</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>temp</td>
<td>-21.5</td>
</tr>
<tr>
<td>735</td>
<td>pb</td>
<td>rad</td>
<td>7.22</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>sal</td>
<td>0.06</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>temp</td>
<td>-26.0</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>rad</td>
<td>4.35</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>temp</td>
<td>-18.5</td>
</tr>
<tr>
<td>751</td>
<td>lake</td>
<td>sal</td>
<td>0.1</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>rad</td>
<td>2.19</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>temp</td>
<td>-16.0</td>
</tr>
<tr>
<td>752</td>
<td>roe</td>
<td>sal</td>
<td>41.6</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>rad</td>
<td>1.46</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>sal</td>
<td>0.21</td>
</tr>
<tr>
<td>837</td>
<td>roe</td>
<td>sal</td>
<td>22.5</td>
</tr>
<tr>
<td>844</td>
<td>roe</td>
<td>rad</td>
<td>11.25</td>
</tr>
</tbody>
</table>

</div>
</div>

Connect to your schema in the `dsa_student` database on the `pgsql.dsa.lan` machine using SQL magic funciton. Feel free to copy necessary code from the labs/practices.

#### Recall from the lab the CREATE VIEW syntax, noting we are using CREATE OR REPLACE

```SQL
CREATE OR REPLACE VIEW VIEW_NAME 
AS 
SELECT_STATEMENT
```

 
Be sure to remove redundant columns and rename columns to clear up ambiguities!

## 0. Connect to the database

In [1]:
SSO="bmgwd9"
hostname='pgsql.dsa.lan'
database='dsa_student'

# Read the Password into mem for a moment
import getpass
read_password = getpass.getpass("Type Password and hit enter")

connection_string = f"postgres://{SSO}:{read_password}@{hostname}/{database}"
    
%load_ext sql
%sql $connection_string

Type Password and hit enter········

'Connected: bmgwd9@dsa_student'

## 1. Create a view of the all readings and their from the `DR*` sites, using a Type-1 nested query.
Be sure to Update the SSO to your pawprint!

We are going to name this view `all_dr_measurements`

**1.1. Create the view**

In [2]:
%%sql
CREATE OR REPLACE VIEW all_dr_measurements
AS
SELECT v.dated AS date_taken, s.reading 
FROM survey s
JOIN visited v ON (v.id::int = s.taken::int)

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
Done.

[]

**1.2. Retrieve information about this view from the information_schema.views and information_schema.columns catalogs**

In [3]:
%%sql
-- select * 
select table_schema, table_name, view_definition
from information_schema.views
where table_name = 'all_dr_measurements'

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[('bmgwd9', 'all_dr_measurements', ' SELECT v.dated AS date_taken,\n    s.reading\n   FROM (survey s\n     JOIN visited v ON (((v.id)::integer = s.taken)));')]

In [4]:
%%sql
-- SELECT * 
SELECT table_name, column_name, data_type, column_default, is_nullable 
FROM 
   information_schema.columns
WHERE 
   table_name = 'all_dr_measurements';

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
2 rows affected.

[('all_dr_measurements', 'date_taken', 'text', None, 'YES'),
 ('all_dr_measurements', 'reading', 'real', None, 'YES')]

**1.3 Fetch data from the view**

In [5]:
%%sql

SELECT * FROM all_dr_measurements

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
26 rows affected.

[('1927-02-08', 2.03),
 ('1927-02-08', 8.72),
 ('1927-02-08', 101.0),
 ('1927-02-08', 0.13),
 ('1927-02-08', 9.82),
 ('1927-02-10', 1.9),
 ('1927-02-10', 7.8),
 ('1927-02-10', 0.09),
 ('1927-02-10', 8.8),
 ('1930-01-07', -21.5),
 ('1930-01-07', 8.41),
 ('1930-01-07', 0.05),
 ('1930-01-12', -26.0),
 ('1930-01-12', 7.22),
 ('1930-01-12', 0.06),
 ('1930-02-26', 0.1),
 ('1930-02-26', -18.5),
 ('1930-02-26', 4.35),
 (None, -16.0),
 (None, 41.61),
 (None, 0.09),
 (None, 2.19),
 ('1932-01-14', 1.46),
 ('1932-01-14', 0.21),
 ('1932-01-14', 22.51),
 ('1932-03-22', 11.26)]

**1.4 Definition from DB using psql**

Login to the database with psql, get the definition of this view, and paste the definition to the following cells.

# 1.2 Definition from DB

                      View "bmgwd9.all_dr_measurements"
   Column   | Type | Collation | Nullable | Default | Storage  | Description
------------+------+-----------+----------+---------+----------+-------------
 date_taken | text |           |          |         | extended |
 reading    | real |           |          |         | plain    |
View definition:
 SELECT v.dated AS date_taken,
    s.reading
   FROM survey s
     JOIN visited v ON v.id::integer = s.taken;

## 2 Create a view that list all readings from the Survey table along with the associated Latitude and Longitude position from the Site table and the date of the reading for data collected by Anderson Lake.
Name this view: `anderson_lake_collections`

**1.1. Create the view**

In [6]:
%%sql
CREATE OR REPLACE VIEW anderson_lake_collections
AS
SELECT v.dated AS date_taken, s.reading, site.lat, site.long
FROM survey s
JOIN visited v ON (v.id::int = s.taken::int)
JOIN site ON (v.site = site.name)
WHERE s.person = 'lake'::text;

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
Done.

[]

**1.2. Retrieve information about this view from the information_schema.views and information_schema.columns catalogs**

In [8]:
%%sql
-- select * 
select table_schema, table_name, view_definition
from information_schema.views
where table_name = 'anderson_lake_collections'

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[('bmgwd9', 'anderson_lake_collections', " SELECT v.dated AS date_taken,\n    s.reading,\n    site.lat,\n    site.long\n   FROM ((survey s\n     JOIN visited v ON (((v.id)::integer = s.taken)))\n     JOIN site ON ((v.site = site.name)))\n  WHERE (s.person = 'lake'::text);")]

In [9]:
%%sql
-- SELECT * 
SELECT table_name, column_name, data_type, column_default, is_nullable 
FROM 
   information_schema.columns
WHERE 
   table_name = 'anderson_lake_collections';

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
4 rows affected.

[('anderson_lake_collections', 'date_taken', 'text', None, 'YES'),
 ('anderson_lake_collections', 'reading', 'real', None, 'YES'),
 ('anderson_lake_collections', 'lat', 'real', None, 'YES'),
 ('anderson_lake_collections', 'long', 'real', None, 'YES')]

**1.3 Fetch data from the view**

In [10]:
%%sql

SELECT * FROM anderson_lake_collections

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
11 rows affected.

[('1927-02-10', 8.8, -49.85, -128.57),
 ('1927-02-10', 1.9, -49.85, -128.57),
 ('1927-02-08', 8.72, -49.85, -128.57),
 ('1927-02-08', 2.03, -49.85, -128.57),
 (None, 2.19, -47.15, -126.72),
 (None, 0.09, -47.15, -126.72),
 (None, -16.0, -47.15, -126.72),
 ('1930-02-26', 0.1, -47.15, -126.72),
 ('1930-01-07', 0.05, -47.15, -126.72),
 ('1932-01-14', 1.46, -48.87, -123.4),
 ('1932-01-14', 0.21, -48.87, -123.4)]

## 3 Create a view that list each person, location, and associated measurements for readings that are undated.

Name this view: `undated_survey_measurements`

**1.1. Create the view**

In [11]:
%%sql

CREATE OR REPLACE VIEW undated_survey_measurements
AS
SELECT s.person, site.lat, site.long, s.reading
FROM survey s
JOIN visited v ON (v.id::int = s.taken::int)
JOIN site ON (v.site = site.name)
WHERE v.dated IS NULL

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
Done.

[]

**1.2. Retrieve information about this view from the information_schema.views and information_schema.columns catalogs**

In [12]:
%%sql
-- select * 
select table_schema, table_name, view_definition
from information_schema.views
where table_name = 'undated_survey_measurements'

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[('bmgwd9', 'undated_survey_measurements', ' SELECT s.person,\n    site.lat,\n    site.long,\n    s.reading\n   FROM ((survey s\n     JOIN visited v ON (((v.id)::integer = s.taken)))\n     JOIN site ON ((v.site = site.name)))\n  WHERE (v.dated IS NULL);')]

In [14]:
%%sql
-- SELECT * 
SELECT table_name, column_name, data_type, column_default, is_nullable 
FROM 
   information_schema.columns
WHERE 
   table_name = 'undated_survey_measurements';

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
4 rows affected.

[('undated_survey_measurements', 'person', 'text', None, 'YES'),
 ('undated_survey_measurements', 'lat', 'real', None, 'YES'),
 ('undated_survey_measurements', 'long', 'real', None, 'YES'),
 ('undated_survey_measurements', 'reading', 'real', None, 'YES')]

**1.3 Fetch data from the view**

In [15]:
%%sql

SELECT * FROM undated_survey_measurements

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
4 rows affected.

[('roe', -47.15, -126.72, 41.61),
 ('lake', -47.15, -126.72, -16.0),
 ('lake', -47.15, -126.72, 0.09),
 ('lake', -47.15, -126.72, 2.19)]

# Save your notebook, then `File > Close and Halt`