# Triggers in PostgreSQL - Exercise


For this exercise, you will connect to the `dsa_student` database and create functions within your schema, i.e., your pawprint should replace SSO below.

## 0. Connect to the database

In [45]:
SSO="bmgwd9"
hostname='pgsql.dsa.lan'
database='dsa_student'

# Read the Password into mem for a moment
import getpass
read_password = getpass.getpass("Type Password and hit enter")

connection_string = f"postgres://{SSO}:{read_password}@{hostname}/{database}"
    
%load_ext sql
%sql $connection_string

Type Password and hit enter········
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: bmgwd9@dsa_student'

--- 

## Audit the Survey Table for Deletes

### 1 Define and create your trigger fuction to audit deletes on the survey table.

In [46]:
%%sql

-- Add your trigger function below this line.

CREATE OR REPLACE FUNCTION audit_delete()
RETURNS TRIGGER 
AS
$$
BEGIN
    IF (TG_OP = 'DELETE') THEN
         INSERT INTO survey_audit
           (taken, person, quant, old_reading)
           VALUES
           (OLD.taken, OLD.person, OLD.quant, OLD.reading);
    END IF;

    RETURN OLD;
END;
$$
LANGUAGE PLPGSQL;

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
Done.

[]

----

### 2 Create your trigger on the survey table.

In [47]:
%%sql

-- Add your trigger definition below this line.

DROP TRIGGER IF EXISTS survey_delete_audit ON survey;

CREATE TRIGGER survey_delete_audit
AFTER DELETE
ON survey
FOR EACH ROW
  EXECUTE PROCEDURE audit_delete();

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
Done.
Done.

[]

Show that the Survey table includes three triggers now either via a) SQL query or b) psql. If you use SQL query, write you query in the folowing cell.

In [48]:
%%sql 
-- select * 
select trigger_schema, trigger_name, event_object_table, action_statement, action_orientation, action_timing
from information_schema.triggers
-- Not sure why survey_update_audit is not showing up

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
2 rows affected.

[('bmgwd9', 'survey_insert_audit', 'survey', 'EXECUTE PROCEDURE audit_survey_reading_insert()', 'ROW', 'AFTER'),
 ('bmgwd9', 'survey_delete_audit', 'survey', 'EXECUTE PROCEDURE audit_delete()', 'ROW', 'AFTER')]

# if you use psql, paste your result here

### 3 Remove Rows

Note: In the practice we executed this multi-insert statement.

```SQL
INSERT INTO SSO.survey VALUES 
(619,'lake','rad',8.72),
(619,'lake','sal',2.03),
(622,'lake','rad',8.8),
(622,'lake','sal',1.9)
;
```

#### In the cells below, 
 1. Write a two distinct DELETE Statements for 619/lake rows.
     1. removing this data (619,'lake','rad',8.72)
     2. removing this data (619,'lake','sal',2.03)
 2. Show the data in the survey table.
 3. Show the resulting audit rows.

In [54]:
%%sql

-- 3.1 write two delete statements here
DELETE FROM survey
WHERE taken = 619 AND person = 'lake' AND quant = 'rad' AND reading > 8.71 AND reading < 8.73;

DELETE FROM survey
WHERE taken = 619 AND person = 'lake' AND quant = 'sal' AND reading > 2.02 AND reading < 2.04;

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
0 rows affected.
0 rows affected.

[]

In [55]:
%%sql 

-- 3.2 Show the full survey table
SELECT * FROM survey

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
30 rows affected.

[(619, 'dyer', 'rad', 9.82),
 (619, 'dyer', 'sal', 0.13),
 (622, 'dyer', 'rad', 7.8),
 (622, 'dyer', 'sal', 0.09),
 (734, 'pb', 'rad', 8.41),
 (734, 'lake', 'sal', 0.05),
 (734, 'pb', 'temp', -21.5),
 (735, 'pb', 'rad', 7.22),
 (735, None, 'sal', 0.06),
 (735, None, 'temp', -26.0),
 (751, 'pb', 'rad', 4.35),
 (751, 'pb', 'temp', -18.5),
 (752, 'lake', 'rad', 2.19),
 (752, 'lake', 'sal', 0.09),
 (752, 'lake', 'temp', -16.0),
 (837, 'lake', 'rad', 1.46),
 (837, 'lake', 'sal', 0.21),
 (622, 'lake', 'rad', 8.8),
 (622, 'lake', 'sal', 1.9),
 (622, 'lake', 'rad', 8.8),
 (622, 'lake', 'sal', 1.9),
 (751, 'lake', 'sal', 0.1),
 (752, 'roe', 'sal', 41.63),
 (837, 'roe', 'sal', 22.53),
 (844, 'roe', 'rad', 11.28),
 (619, 'roe', 'rad', 101.02),
 (619, 'roe', 'rad', 101.01),
 (619, 'roe', 'rad', 101.0),
 (622, 'lake', 'rad', 8.8),
 (622, 'lake', 'sal', 1.9)]

In [53]:
%%sql 

-- 3.3 Show the resulting audit rows.
SELECT * FROM survey_audit

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
18 rows affected.

[(751, 'lake', 'sal', '2020-11-23 09:43:07.066542-06', 0.1, 0.111),
 (751, 'lake', 'sal', '2020-11-23 09:43:15.868356-06', 0.111, 0.1),
 (752, 'roe', 'sal', '2020-11-23 09:43:50.800559-06', 41.62, 41.63),
 (837, 'roe', 'sal', '2020-11-23 09:43:50.800559-06', 22.52, 22.53),
 (844, 'roe', 'rad', '2020-11-23 09:43:50.800559-06', 11.27, 11.28),
 (619, 'roe', 'rad', '2020-11-23 09:43:50.800559-06', 101.01, 101.02),
 (619, 'roe', 'rad', '2020-11-23 09:43:50.800559-06', 101.0, 101.01),
 (619, 'roe', 'rad', '2020-11-23 09:43:56.576043-06', None, 101.0),
 (619, 'lake', 'rad', '2020-11-23 09:44:01.52235-06', None, 8.72),
 (619, 'lake', 'sal', '2020-11-23 09:44:01.52235-06', None, 2.03),
 (622, 'lake', 'rad', '2020-11-23 09:44:01.52235-06', None, 8.8),
 (622, 'lake', 'sal', '2020-11-23 09:44:01.52235-06', None, 1.9),
 (619, 'lake', 'rad', '2020-11-23 10:42:19.114039-06', 8.72, None),
 (619, 'lake', 'rad', '2020-11-23 10:42:19.114039-06', 8.72, None),
 (619, 'lake', 'rad', '2020-11-23 10:42:19.114039-06', 8.72, None),
 (619, 'lake', 'sal', '2020-11-23 10:48:19.920595-06', 2.03, None),
 (619, 'lake', 'sal', '2020-11-23 10:48:19.920595-06', 2.03, None),
 (619, 'lake', 'sal', '2020-11-23 10:48:19.920595-06', 2.03, None)]

---

### 4 Remove the other two rows with a single delete statement.

 1. Write a single DELETE Statement for the 622/lake rows.
     1. removing this data (622,'lake','rad',8.8)
     2. removing this data (622,'lake','sal',1.9)
 2. Show the data in the survey table.
 3. Show the resulting audit rows.

In [63]:
%%sql -- 4.1 Show the single delete statements

DELETE FROM survey WHERE
(taken, person, quant) = 
(622, 'lake', 'rad') OR
(taken, person, quant) = 
(622, 'lake', 'sal')

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
6 rows affected.

[]

In [66]:
%%sql -- 4.2 Show the full survey table

SELECT * FROM survey

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
24 rows affected.

[(619, 'dyer', 'rad', 9.82),
 (619, 'dyer', 'sal', 0.13),
 (622, 'dyer', 'rad', 7.8),
 (622, 'dyer', 'sal', 0.09),
 (734, 'pb', 'rad', 8.41),
 (734, 'lake', 'sal', 0.05),
 (734, 'pb', 'temp', -21.5),
 (735, 'pb', 'rad', 7.22),
 (735, None, 'sal', 0.06),
 (735, None, 'temp', -26.0),
 (751, 'pb', 'rad', 4.35),
 (751, 'pb', 'temp', -18.5),
 (752, 'lake', 'rad', 2.19),
 (752, 'lake', 'sal', 0.09),
 (752, 'lake', 'temp', -16.0),
 (837, 'lake', 'rad', 1.46),
 (837, 'lake', 'sal', 0.21),
 (751, 'lake', 'sal', 0.1),
 (752, 'roe', 'sal', 41.63),
 (837, 'roe', 'sal', 22.53),
 (844, 'roe', 'rad', 11.28),
 (619, 'roe', 'rad', 101.02),
 (619, 'roe', 'rad', 101.01),
 (619, 'roe', 'rad', 101.0)]

In [67]:
%%sql -- 4.3 Show the resulting audit rows.

SELECT * FROM survey_audit

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
24 rows affected.

[(751, 'lake', 'sal', '2020-11-23 09:43:07.066542-06', 0.1, 0.111),
 (751, 'lake', 'sal', '2020-11-23 09:43:15.868356-06', 0.111, 0.1),
 (752, 'roe', 'sal', '2020-11-23 09:43:50.800559-06', 41.62, 41.63),
 (837, 'roe', 'sal', '2020-11-23 09:43:50.800559-06', 22.52, 22.53),
 (844, 'roe', 'rad', '2020-11-23 09:43:50.800559-06', 11.27, 11.28),
 (619, 'roe', 'rad', '2020-11-23 09:43:50.800559-06', 101.01, 101.02),
 (619, 'roe', 'rad', '2020-11-23 09:43:50.800559-06', 101.0, 101.01),
 (619, 'roe', 'rad', '2020-11-23 09:43:56.576043-06', None, 101.0),
 (619, 'lake', 'rad', '2020-11-23 09:44:01.52235-06', None, 8.72),
 (619, 'lake', 'sal', '2020-11-23 09:44:01.52235-06', None, 2.03),
 (622, 'lake', 'rad', '2020-11-23 09:44:01.52235-06', None, 8.8),
 (622, 'lake', 'sal', '2020-11-23 09:44:01.52235-06', None, 1.9),
 (619, 'lake', 'rad', '2020-11-23 10:42:19.114039-06', 8.72, None),
 (619, 'lake', 'rad', '2020-11-23 10:42:19.114039-06', 8.72, None),
 (619, 'lake', 'rad', '2020-11-23 10:42:19.114039-06', 8.72, None),
 (619, 'lake', 'sal', '2020-11-23 10:48:19.920595-06', 2.03, None),
 (619, 'lake', 'sal', '2020-11-23 10:48:19.920595-06', 2.03, None),
 (619, 'lake', 'sal', '2020-11-23 10:48:19.920595-06', 2.03, None),
 (622, 'lake', 'rad', '2020-11-23 11:04:23.704433-06', 8.8, None),
 (622, 'lake', 'sal', '2020-11-23 11:04:23.704433-06', 1.9, None),
 (622, 'lake', 'rad', '2020-11-23 11:04:23.704433-06', 8.8, None),
 (622, 'lake', 'sal', '2020-11-23 11:04:23.704433-06', 1.9, None),
 (622, 'lake', 'rad', '2020-11-23 11:04:23.704433-06', 8.8, None),
 (622, 'lake', 'sal', '2020-11-23 11:04:23.704433-06', 1.9, None)]

# Save your notebook, then `File > Close and Halt`