# Advanced Aggregates

Please remember to use the `EXPLAIN` before you execute a query to help avoid unnecessary load on the DBMS and indefinite waits by you for results.

Therefore, for each question, we are providing a cell for the `EXPLAIN` as well as the final SQL.


## Our practice schema:

We will use the DVD Rental database.

A PDF of the _Entity-Relationship Diagrams_ (ERD) is available [here](https://web.dsa.missouri.edu/static/PDF/DVD_Rental_ERD2.pdf).   
Printing it out is recommended.


**NOTE**: These queries are more complex that the others.
If you get stuck on one, skip and come back to it later.

**NOTE**: For this notebook, it is desired that you construct solutions using advanced aggregates and derived tables.

In [1]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

'Connected: dsa_ro_user@dvdrental'

### 1
### What is the average, variance, and standard deviation of the film length?

In [ ]:
%%sql
EXPLAIN

In [15]:
%%sql

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1 rows affected.

[(Decimal('115.27'), Decimal('1632.65'), Decimal('40.41'))]

### 2
### What is the average, variance, and standard deviation of the film length; broken down by film category.

In [ ]:
%%sql
EXPLAIN

In [14]:
%%sql

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
16 rows affected.

[('Action', Decimal('111.61'), Decimal('1819.49'), Decimal('42.66')),
 ('Animation', Decimal('111.02'), Decimal('1696.98'), Decimal('41.19')),
 ('Children', Decimal('109.80'), Decimal('1475.89'), Decimal('38.42')),
 ('Classics', Decimal('111.67'), Decimal('1449.35'), Decimal('38.07')),
 ('Comedy', Decimal('115.83'), Decimal('1750.63'), Decimal('41.84')),
 ('Documentary', Decimal('108.75'), Decimal('1787.98'), Decimal('42.28')),
 ('Drama', Decimal('120.84'), Decimal('1631.65'), Decimal('40.39')),
 ('Family', Decimal('114.78'), Decimal('1501.16'), Decimal('38.74')),
 ('Foreign', Decimal('121.70'), Decimal('1836.40'), Decimal('42.85')),
 ('Games', Decimal('127.84'), Decimal('1241.78'), Decimal('35.24')),
 ('Horror', Decimal('112.48'), Decimal('1363.89'), Decimal('36.93')),
 ('Music', Decimal('113.65'), Decimal('1752.27'), Decimal('41.86')),
 ('New', Decimal('111.13'), Decimal('1490.75'), Decimal('38.61')),
 ('Sci-Fi', Decimal('108.20'), Decimal('1294.06'), Decimal('35.97')),
 ('Sports', Decimal('128.20'), Decimal('1772.19'), Decimal('42.10')),
 ('Travel', Decimal('113.32'), Decimal('1513.16'), Decimal('38.90'))]

[Helpful Hints Video](https://youtu.be/jy9H2KLI4Iw)

### 3
### A movie's "cumulative rented duration" is the sum of all rentals from rental table.  What is the average _cumulative rented duration_ per store (inventory.store_id).

In [ ]:
%%sql
EXPLAIN

In [19]:
%%sql

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
2 rows affected.

[(1, Decimal('17.38')), (2, Decimal('17.43'))]

[Helpful Hints Video](https://youtu.be/Scyn7exzUcY)

### 4
### Which three categories of film have the highest average number of actors per film?

In [ ]:
%%sql
EXPLAIN

In [10]:
%%sql

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
3 rows affected.

[('Sports', Decimal('6.04')),
 ('Drama', Decimal('5.74')),
 ('Children', Decimal('5.73'))]

### 5
### For each staff member, list their average daily payment amount processed.

In [ ]:
%%sql
EXPLAIN

In [9]:
%%sql

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
2 rows affected.

[('Jon', 'Stephens', Decimal('970.62')),
 ('Mike', 'Hillyer', Decimal('945.38'))]

### 6
### What is the statistical correlation between film length and rental rate?

In [ ]:
%%sql
EXPLAIN

In [26]:
%%sql

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1 rows affected.

[(0.0297892586459086,)]

[Helpful Hints Video](https://youtu.be/3d2vgLn9KVs)

# Save your Notebook, then `File > Close and Halt`