# Views Practice


This practice requires you to have completed the task of Module 2, Exercise [Database Create and Load](../../module2/exercises/CreateAndLoadSurveyDB.ipynb).

Recall from the exercise that you loaded this [survey.db.sql](../../module2/exercises//survey.db.sql) file.
This created the familiar Survey database with the tables:
 * Person
 * Site
 * Visited
 * Survey
 
 
For this practice, you will create a couple views over the Survey tables.

<div class="row">
<div class="col-md-6">

<p>  
<strong>Person</strong>: people who took readings.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>personal</th>
<th>family</th>
</tr>
</thead>
<tbody>
<tr>
<td>dyer</td>
<td>William</td>
<td>Dyer</td>
</tr>
<tr>
<td>pb</td>
<td>Frank</td>
<td>Pabodie</td>
</tr>
<tr>
<td>lake</td>
<td>Anderson</td>
<td>Lake</td>
</tr>
<tr>
<td>roe</td>
<td>Valentina</td>
<td>Roerich</td>
</tr>
<tr>
<td>danforth</td>
<td>Frank</td>
<td>Danforth</td>
</tr>
</tbody>
</table>


<strong>Site</strong>: locations where readings were taken.</p>

<table>
<thead>
<tr>
<th>name</th>
<th>lat</th>
<th>long</th>
</tr>
</thead>
<tbody>
<tr>
<td>DR-1</td>
<td>-49.85</td>
<td>-128.57</td>
</tr>
<tr>
<td>DR-3</td>
<td>-47.15</td>
<td>-126.72</td>
</tr>
<tr>
<td>MSK-4</td>
<td>-48.87</td>
<td>-123.4</td>
</tr>
</tbody>
</table>

<p><strong>Visited</strong>: when readings were taken at specific sites.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>site</th>
<th>dated</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>DR-1</td>
<td>1927-02-08</td>
</tr>
<tr>
<td>622</td>
<td>DR-1</td>
<td>1927-02-10</td>
</tr>
<tr>
<td>734</td>
<td>DR-3</td>
<td>1930-01-07</td>
</tr>
<tr>
<td>735</td>
<td>DR-3</td>
<td>1930-01-12</td>
</tr>
<tr>
<td>751</td>
<td>DR-3</td>
<td>1930-02-26</td>
</tr>
<tr>
<td>752</td>
<td>DR-3</td>
<td>-null-</td>
</tr>
<tr>
<td>837</td>
<td>MSK-4</td>
<td>1932-01-14</td>
</tr>
<tr>
<td>844</td>
<td>DR-1</td>
<td>1932-03-22</td>
</tr>
</tbody>
</table>

</div>
<div class="col-md-6">

<p><strong>Survey</strong>: the actual readings.</p>

<table>
<thead>
<tr>
<th>taken</th>
<th>person</th>
<th>quant</th>
<th>reading</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>dyer</td>
<td>rad</td>
<td>9.82</td>
</tr>
<tr>
<td>619</td>
<td>dyer</td>
<td>sal</td>
<td>0.13</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>rad</td>
<td>7.8</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>rad</td>
<td>8.41</td>
</tr>
<tr>
<td>734</td>
<td>lake</td>
<td>sal</td>
<td>0.05</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>temp</td>
<td>-21.5</td>
</tr>
<tr>
<td>735</td>
<td>pb</td>
<td>rad</td>
<td>7.22</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>sal</td>
<td>0.06</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>temp</td>
<td>-26.0</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>rad</td>
<td>4.35</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>temp</td>
<td>-18.5</td>
</tr>
<tr>
<td>751</td>
<td>lake</td>
<td>sal</td>
<td>0.1</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>rad</td>
<td>2.19</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>temp</td>
<td>-16.0</td>
</tr>
<tr>
<td>752</td>
<td>roe</td>
<td>sal</td>
<td>41.6</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>rad</td>
<td>1.46</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>sal</td>
<td>0.21</td>
</tr>
<tr>
<td>837</td>
<td>roe</td>
<td>sal</td>
<td>22.5</td>
</tr>
<tr>
<td>844</td>
<td>roe</td>
<td>rad</td>
<td>11.25</td>
</tr>
</tbody>
</table>

</div>
</div>

Open a terminal tab and connect to your schema in the `dsa_student` database on the `pgsql.dsa.lan` machine.

#### Recall from the lab the CREATE VIEW syntax, noting we are using CREATE OR REPLACE

```SQL
CREATE OR REPLACE VIEW SSO.VIEW_NAME 
AS 
SELECT_STATEMENT
```

Specifically, we created the `survey_view`:

```SQL
CREATE OR REPLACE VIEW SSO.survey_view
AS
SELECT * 
FROM SSO.survey s 
JOIN SSO.visited v ON (v.id::int = s.taken::int) 
JOIN SSO.person p ON (s.person=p.id);
```

You will define and create a couple Views below.  In each case, you will use the three steps:
 1. The Create View Statement
 2. The view definition on psql `\d+ SSO.view_name` or probe `information_schema.views` `information_schema.columns`
 3. The result of `select * from SSO.view_name`
 
Be sure to remove redundant columns and rename columns to clear up ambiguities!

Let's connect to the database first.

In [ ]:
# Initialize some variables
SSO="YOUR_PAWPRINT_GOES_HERE"
hostname='pgsql.dsa.lan'
database='dsa_student'

In [ ]:
# Read the Password into mem for a moment
import getpass
read_password = getpass.getpass("Type Password and hit enter")

In [ ]:
connection_string = f"postgres://{SSO}:{read_password}@{hostname}/{database}"

In [ ]:
%load_ext sql
%sql $connection_string

## 1 Create a view of the all readings and their time from the `DR-1` site.

**1.1. We are going to create and name this view as `dr1_measurements`**

In [ ]:
%%sql


CREATE OR REPLACE VIEW dr1_measurements
AS
SELECT v.dated as date_taken
    , s.quant, s.reading
FROM visited v JOIN survey s ON (v.id::int=s.taken::int)
WHERE v.site='DR-1';

**1.2 Retrieve information about this view from the information_schema.views and information_schema.columns catalogs.**

In [ ]:
%%sql

-- select * 
select table_schema, table_name, view_definition
from information_schema.views
where table_name = 'dr1_measurements'

In [ ]:
%%sql

-- SELECT * 
SELECT table_name, column_name, data_type, column_default, is_nullable 
FROM 
   information_schema.columns
WHERE 
   table_name = 'dr1_measurements';

**1.3. Fetch data from the view**

In [ ]:
%%sql 

select * from dr1_measurements;

**1.4. We can also check the view definition via psql on terminal**

Command template: \d+ view_name

#### Expected Result View 1 results from psql
```SQL
                       View "SSO.dr1_measurements"
   Column   | Type | Collation | Nullable | Default | Storage  | Description
------------+------+-----------+----------+---------+----------+-------------
 date_taken | text |           |          |         | extended |
 quant      | text |           |          |         | extended |
 reading    | real |           |          |         | plain    |
View definition:
 SELECT v.dated AS date_taken,
    s.quant,
    s.reading
   FROM visited v
     JOIN survey s ON v.id::integer = s.taken
  WHERE v.site = 'DR-1'::text;
```

```
 date_taken | quant | reading
------------+-------+---------
 1927-02-08 | rad   |    9.82
 1927-02-08 | sal   |    0.13
 1927-02-10 | rad   |     7.8
 1927-02-10 | sal   |    0.09
 1932-03-22 | rad   |   11.25
(5 rows)
```

## 2 Create a view that list each `rad` reading from the Survey table along with the associated Latitude and Longitude position from the Site table and the date of the reading.


**2.1. We are going to create and name this view as `radiation_location`**

In [ ]:
%%sql

CREATE OR REPLACE VIEW radiation_location
AS
SELECT v.dated as date_taken
    , place.lat as latitude
    , place.long as longitude
    , s.reading as radiation
FROM visited v JOIN survey s ON (v.id::int=s.taken::int)
    JOIN site as place ON (place.name=v.site)
WHERE s.quant='rad';

**2.2 Retrieve information about this view from the information_schema.views and information_schema.columns catalogs.**

In [ ]:
%%sql

-- select * 
select table_schema, table_name, view_definition
from information_schema.views
where table_name = 'radiation_location'

In [ ]:
%%sql

-- SELECT * 
SELECT table_name, column_name, data_type, column_default, is_nullable 
FROM 
   information_schema.columns
WHERE 
   table_name = 'radiation_location';

**2.3. Fetch data from the view**

In [ ]:
%%sql 

select * from radiation_location;

**2.4. (Optional) We can also check the view definition via psql on terminal**

Command template: \d+ view_name

## 3 Create a view that list each `rad` reading for the `DR-1` site along with the associated Latitude and Longitude position and the date of the reading.

**3.1. We are going to create and name this view as `dr1_radiation`**

In [ ]:
%%sql

CREATE OR REPLACE VIEW dr1_radiation
AS
SELECT v.dated as date_taken
    , place.lat as latitude
    , place.long as longitude
    , s.reading as radiation
FROM visited v JOIN survey s ON (v.id::int=s.taken::int)
    JOIN site as place ON (place.name=v.site)
WHERE s.quant='rad' and v.site='DR-1';

**3.2 Retrieve information about this view from the information_schema.views and information_schema.columns catalogs.**

In [ ]:
%%sql

-- select * 
select table_schema, table_name, view_definition
from information_schema.views
where table_name = 'dr1_radiation'

In [ ]:
%%sql

-- SELECT * 
SELECT table_name, column_name, data_type, column_default, is_nullable 
FROM 
   information_schema.columns
WHERE 
   table_name = 'dr1_radiation';

**2.3. Fetch data from the view**

In [ ]:
%%sql 

select * from dr1_radiation;

**3.4. (Optional) We can also check the view definition via psql on terminal**

Command template: \d+ view_name

# Save your notebook, then `File > Close and Halt`