# Loading a Database

This lab is going to examine two data files that can be organized into a database.
The design will be implemented in PostgreSQL, then the data loaded using psycopg2.

#### There is a complete video walkthrough provided in the videos section of the schedule. 

We have linked the videos into this file as well.

For each section of the lab, 
 * Breifly read through the lab (no execution)
 * Then watch the video for that section
 * Then work through the lab section

## Section 1:  Load raw data into pandas dataframe

**Video Link**: https://youtu.be/kp1vSoBAD2M

### Data Files:

 * game-of-thrones/battles.csv 
 * game-of-thrones/character-deaths.csv
 
Let's load each one up in a Pandas dataframe and inspect it.

In [2]:
import getpass
import pandas as pd

In [3]:
battle_file = '/dsa/data/all_datasets/game-of-thrones/battles.csv'

battles = pd.read_csv(battle_file)
battles.head().transpose()

,0,1,2,3,4
name,Battle of the Golden Tooth,Battle at the Mummer's Ford,Battle of Riverrun,Battle of the Green Fork,Battle of the Whispering Wood
year,298,298,298,298,298
battle_number,1,2,3,4,5
attacker_king,Joffrey/Tommen Baratheon,Joffrey/Tommen Baratheon,Joffrey/Tommen Baratheon,Robb Stark,Robb Stark
defender_king,Robb Stark,Robb Stark,Robb Stark,Joffrey/Tommen Baratheon,Joffrey/Tommen Baratheon
attacker_1,Lannister,Lannister,Lannister,Stark,Stark
attacker_2,NaN,NaN,NaN,NaN,Tully
attacker_3,NaN,NaN,NaN,NaN,NaN
attacker_4,NaN,NaN,NaN,NaN,NaN
defender_1,Tully,Baratheon,Tully,Lannister,Lannister
defender_2,NaN,NaN,NaN,NaN,NaN
defender_3,NaN,NaN,NaN,NaN,NaN
defender_4,NaN,NaN,NaN,NaN,NaN
attacker_outcome,win,win,win,loss,win
battle_type,pitched battle,ambush,pitched battle,pitched battle,ambush
major_death,1,1,0,1,1
major_capture,0,0,1,1,1
attacker_size,15000,NaN,15000,18000,1875
defender_size,4000,120,10000,20000,6000
attacker_commander,Jaime Lannister,Gregor Clegane,"Jaime Lannister, Andros Brax","Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Robb Stark, Brynden Tully"
defender_commander,"Clement Piper, Vance",Beric Dondarrion,"Edmure Tully, Tytos Blackwood","Tywin Lannister, Gregor Clegane, Kevan Lannist...",Jaime Lannister
summer,1,1,1,1,1
location,Golden Tooth,Mummer's Ford,Riverrun,Green Fork,Whispering Wood
region,The Westerlands,The Riverlands,The Riverlands,The Riverlands,The Riverlands
note,NaN,NaN,NaN,NaN,NaN

In [4]:

deaths_file = '/dsa/data/all_datasets/game-of-thrones/character-deaths.csv'

deaths = pd.read_csv(deaths_file)
deaths.head()

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

### Designing our tables

The tables, in this simple case, already define our Entities and their attributes:
 * Battle
 * Death
 
We will design the tables as such:
 * Note the schema name of SSO, **replace** with your PostgreSQL user/schema (your pawprint)
     * **NOTE: For the context of this lab, using SSO (i.e the name of our database schema) as a prefix to a table name is optional as we are creating tables in the current schema, which has the same name as our SSO. But in some context, we must use schema name as a prefix. E.g., we explored routines and triggers in M5 from the information_schema, and we had to explicitly mention the schema name such as `information_schema.routines`.**
 * Note the change in field order to make battle_number the primary key
 * Note where some fields are NOT NULL, but others are allows NULL
 
**NULL** - The SQL NULL is the term used to represent a missing value. A NULL value in a table is a value in a field that appears to be blank. A field with a NULL value is a field with no value. It is very important to understand that a NULL value is different than a zero value or a field that contains spaces.


Note - the below code cells are Raw and not cells that you run within the notebook. They are to show the SQL commands. They are not creating the tables in our database.

CREATE TABLE bmgwd9.battle (
 battle_number INT PRIMARY KEY, 
 name VARCHAR(150) NOT NULL, 
 year INT, 
 attacker_king VARCHAR(50), 
 defender_king VARCHAR(50), 
 attacker_1 VARCHAR(50) NOT NULL, 
 attacker_2 VARCHAR(50), 
 attacker_3 VARCHAR(50), 
 attacker_4 VARCHAR(50), 
 defender_1 VARCHAR(50), 
 defender_2 VARCHAR(50), 
 defender_3 VARCHAR(50), 
 defender_4 VARCHAR(50), 
 attacker_outcome VARCHAR(6), 
 battle_type VARCHAR(20), 
 major_death INT, 
 major_capture INT, 
 attacker_size INT, 
 defender_size INT, 
 attacker_commanders VARCHAR(220), 
 defender_commanders VARCHAR(220), 
 summer INT, 
 location VARCHAR(50), 
 region VARCHAR(50), 
 note VARCHAR(500)
);

## Note, we need a death_id sequential counter as the primary key because some names repeat (non-unique)

CREATE TABLE bmgwd9.death (
 death_id SERIAL PRIMARY KEY,
 name VARCHAR(50),
 allegiances VARCHAR(50),
 death_year INT,
 book_of_death INT,
 death_chapter INT,
 book_intro_chapter INT,
 gender INT,
 nobility INT,
 GoT INT,	
 CoK INT,
 SoS INT,
 FfC INT,
 DwD INT
);

## Section 2: Create database tables with various tools

For creating tables, we can use any of the three tools that we have explored in M1 and M2. We will show how to create the battle table either with psql or sql magic functio and the death table using psycopg2. 

### Section 2.1: Using psql

**Video Link**: https://youtu.be/Z7LrW7ooeJA
 * Please note, the database name has changed from the video, `dbase` is now `pgsql.dsa.lan`, as you have been using all semester.

#### Task: Log into your database and run your create table command for battle.

```BASH
$ psql -h pgsql.dsa.lan dsa_student
Password for user SSO:
Type "help" for help.

dsa_student=>
```
Once at this prompt copy and paste the code cell above into the terminal and hit enter.

After creating the databases, we should see the following from the `\dt` command:

```
dsa_student=> \dt
              List of relations
 Schema |      Name       | Type  |  Owner
--------+-----------------+-------+----------
 SSO    | battle          | table | SSO
 public | spatial_ref_sys | table | postgres
(3 rows)
```

Examining the table structure with `\d SSO.`

```
dsa_student=> \d SSO.
                   Table "SSO.battle"
       Column        |          Type          | Modifiers
---------------------+------------------------+-----------
 battle_number       | integer                | not null
 name                | character varying(150) | not null
 year                | integer                |
 attacker_king       | character varying(50)  |
 defender_king       | character varying(50)  |
 attacker_1          | character varying(50)  | not null
 attacker_2          | character varying(50)  |
 attacker_3          | character varying(50)  |
 attacker_4          | character varying(50)  |
 defender_1          | character varying(50)  |
 defender_2          | character varying(50)  |
 defender_3          | character varying(50)  |
 defender_4          | character varying(50)  |
 attacker_outcome    | character varying(6)   |
 battle_type         | character varying(20)  |
 major_death         | integer                |
 major_capture       | integer                |
 attacker_size       | integer                |
 defender_size       | integer                |
 attacker_commanders | character varying(220) |
 defender_commanders | character varying(220) |
 summer              | integer                |
 location            | character varying(50)  |
 region              | character varying(50)  |
 note                | character varying(500) |
Indexes:
    "battle_pkey" PRIMARY KEY, btree (battle_number)
    
        Index "SSO.battle_pkey"
    Column     |  Type   |  Definition
---------------+---------+---------------
 battle_number | integer | battle_number
primary key, btree, for table "SSO.battle"
                                       
```

### Section 2.2: Using sql magic function

#### Task: Log into your database and run your create table command for battle.

In [5]:
# Initialize some variables
SSO="bmgwd9"
hostname='pgsql.dsa.lan'
database='dsa_student'

mypasswd = getpass.getpass("Type Password and hit enter")
connection_string = f"postgres://{SSO}:{mypasswd}@{hostname}/{database}"

%load_ext sql
%sql $connection_string

Type Password and hit enter········

'Connected: bmgwd9@dsa_student'

In [6]:
# Then remove the password from computer memory
del mypasswd

In [7]:
%%sql 


CREATE TABLE IF NOT EXISTS battle (
 battle_number INT PRIMARY KEY, 
 name VARCHAR(150) NOT NULL, 
 year INT, 
 attacker_king VARCHAR(50), 
 defender_king VARCHAR(50), 
 attacker_1 VARCHAR(50) NOT NULL, 
 attacker_2 VARCHAR(50), 
 attacker_3 VARCHAR(50), 
 attacker_4 VARCHAR(50), 
 defender_1 VARCHAR(50), 
 defender_2 VARCHAR(50), 
 defender_3 VARCHAR(50), 
 defender_4 VARCHAR(50), 
 attacker_outcome VARCHAR(6), 
 battle_type VARCHAR(20), 
 major_death INT, 
 major_capture INT, 
 attacker_size INT, 
 defender_size INT, 
 attacker_commanders VARCHAR(220), 
 defender_commanders VARCHAR(220), 
 summer INT, 
 location VARCHAR(50), 
 region VARCHAR(50), 
 note VARCHAR(500)
);

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
Done.

[]

Notice above we added `IF NOT EXISTS` to the create table command, this way if you are running the notebook cell multiple times it will not give you an error saying the table is already created.

## Section 3:

**Video Link**: https://youtu.be/RNSANXMePPg

### Task: Use psycopg2 to create the death table

In [10]:
# This collects a masked password from the user
import getpass
SSO = "bmgwd9"
mypasswd = getpass.getpass()

········

**In standard practice, the credentials would be read from a configuration file** but for convenience we will be using the code below.

**NOTE** in the code below you will need to change the user to your SSO (pawprint)

In [11]:
import psycopg2
import numpy as np
from psycopg2.extensions import adapt, register_adapter, AsIs

# Then connects to the DB
connection = psycopg2.connect(database = 'dsa_student', 
                              user = SSO, 
                              host = 'pgsql.dsa.lan',
                              password = mypasswd)

In [12]:
# Then remove the password from computer memory
del mypasswd

In [22]:
cursor = connection.cursor()
sqlCreateTable = """
CREATE TABLE IF NOT EXISTS death (
 death_id SERIAL PRIMARY KEY,
 name VARCHAR(50),
 allegiances VARCHAR(50),
 death_year INT,
 book_of_death INT,
 death_chapter INT,
 book_intro_chapter INT,
 gender INT,
 nobility INT,
 GoT INT,
 CoK INT,
 SoS INT,
 FfC INT,
 DwD INT );
 """

cursor.execute(sqlCreateTable)

connection.commit()


Also you will notice that there are many different ways that you can work with PostgreSQL and psycopg2 for creating your statements. 
Each example will be done a little differently so that you can see the many ways of inputting the SQL statements.

### Task: Use psycopg2 to load the death table.

Now that we have both tables created we want to load data into those tables. 
We are already connected to the server, so lets just move along with getting the data how we need it. 

Below we are going thru and printing each of the columns in the battles dataframe and also printing the same number of %s. this helps us when we create the insert statement. See (https://en.wikipedia.org/wiki/SQL_injection) to understand the %s.

In [23]:
print(deaths.columns)

colstring = ','.join(deaths).replace(' ', '_')
print(colstring)

str_specifier = ','.join(['%s'] * len(deaths.columns))
print(str_specifier)

Index(['Name', 'Allegiances', 'Death Year', 'Book of Death', 'Death Chapter',
       'Book Intro Chapter', 'Gender', 'Nobility', 'GoT', 'CoK', 'SoS', 'FfC',
       'DwD'],
      dtype='object')
Name,Allegiances,Death_Year,Book_of_Death,Death_Chapter,Book_Intro_Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s

Below the insert statement is constructed,
and then it is printed along with the data. 
In order to execute the insert statement within PostgreSQL you need to uncomment the `cursor.execute` statement as noted in the comments of the code. 
It is good practice to verify your code using _prints_ to make sure the data is truly what you think it is before inserting it.

In [24]:
import numpy as np
# Magic adapters for the Numpy Fun of Pandas
register_adapter(np.int64,AsIs)
register_adapter(np.float64,AsIs)

# Convert our panda to have Null values (None) instead of NaN
deaths = deaths.where(pd.notnull(deaths), None)

# Note, we leave out the sequential counter.  
# Review the table definition above for the default value

INSERT_SQL = f'INSERT INTO death '
# INSERT_SQL += ' (name,allegiances,death_year,book_of_death,death_chapter, '
# INSERT_SQL += '  book_intro_chapter,gender,nobility,got,cok,sos,ffc,dwd ) VALUES '

INSERT_SQL += f' ({colstring}) values ({str_specifier})'

# this is a parameterized string for SQL, the %s are placeholders
# this prevents SQL-Injection attacks on the code
# https://en.wikipedia.org/wiki/SQL_injection
# INSERT_SQL += '(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'



print(INSERT_SQL)

# Note: The Commit Will Be Automatic after this with clause
with connection, connection.cursor() as cursor:
    # https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.itertuples.html
    for row in deaths.itertuples(index=False, name=None):  # pull each row as a tuple
        
        ##### TODO:
        ##### Review the print output, then comment out the print(row)
        #####         and un-comment the cursor.execute row.
        
        # This is an un-indexed, un-named Tuple
        #print(row) 
        
        # Insert the row
        cursor.execute(INSERT_SQL,row)

INSERT INTO death  (Name,Allegiances,Death_Year,Book_of_Death,Death_Chapter,Book_Intro_Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

<span style='background:yellow'> Ensure you have uncommented the `cursor.execute` command.</span>

#### Now check in the DB: Connect via a terminal, the run the commands.


```SQL
dsa_student=> select count(*) from death;
 count
-------
   917
(1 row)

dsa_student=> \x
Expanded display is on.
dsa_student=> select * from SSO.death limit 2;
-[ RECORD 1 ]------+------------------------
death_id           | 1
name               | Addam Marbrand
allegiances        | Lannister
death_year         |
book_of_death      |
death_chapter      |
book_intro_chapter | 56
gender             | 1
nobility           | 1
got                | 1
cok                | 1
sos                | 1
ffc                | 1
dwd                | 0
-[ RECORD 2 ]------+------------------------
death_id           | 2
name               | Aegon Frey (Jinglebell)
allegiances        | None
death_year         | 299
book_of_death      | 3
death_chapter      | 51
book_intro_chapter | 49
gender             | 1
nobility           | 1
got                | 0
cok                | 0
sos                | 1
ffc                | 0
dwd                | 0
```

### Task: Use psycopg2 to load the battles table.

In [25]:
# rename some columns to match table attributes
battles = battles.rename(columns={'attacker_commander': 'attacker_commanders', 'defender_commander': 'defender_commanders'})

In [26]:
print(battles.columns)
colstring = ','.join(battles.columns).replace(' ', '_')
print(colstring)

str_specifier = ','.join(['%s'] * len(battles.columns))
print(str_specifier)

Index(['name', 'year', 'battle_number', 'attacker_king', 'defender_king',
       'attacker_1', 'attacker_2', 'attacker_3', 'attacker_4', 'defender_1',
       'defender_2', 'defender_3', 'defender_4', 'attacker_outcome',
       'battle_type', 'major_death', 'major_capture', 'attacker_size',
       'defender_size', 'attacker_commanders', 'defender_commanders', 'summer',
       'location', 'region', 'note'],
      dtype='object')
name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,defender_2,defender_3,defender_4,attacker_outcome,battle_type,major_death,major_capture,attacker_size,defender_size,attacker_commanders,defender_commanders,summer,location,region,note
%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s

### Let's load this table, which will take a little more work:

In [27]:
# Construct a parameterized SQL statement


INSERT_SQL = f'INSERT INTO battle ({colstring}) VALUES ({str_specifier})'
print(INSERT_SQL)

# Convert our panda to have Null values (None) instead of NaN
battles = battles.where(pd.notnull(battles), None)

# Note: The Commit Will Be Automatic after this with clause
with connection, connection.cursor() as cursor:
    # https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.itertuples.html
    for row in battles.itertuples(index=False, name=None):  # pull each row as a tuple
        print(row)
        cursor.execute(INSERT_SQL,row)

INSERT INTO battle (name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,defender_2,defender_3,defender_4,attacker_outcome,battle_type,major_death,major_capture,attacker_size,defender_size,attacker_commanders,defender_commanders,summer,location,region,note) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
('Battle of the Golden Tooth', 298, 1, 'Joffrey/Tommen Baratheon', 'Robb Stark', 'Lannister', None, None, None, 'Tully', None, None, None, 'win', 'pitched battle', 1.0, 0.0, 15000.0, 4000.0, 'Jaime Lannister', 'Clement Piper, Vance', 1.0, 'Golden Tooth', 'The Westerlands', None)
("Battle at the Mummer's Ford", 298, 2, 'Joffrey/Tommen Baratheon', 'Robb Stark', 'Lannister', None, None, None, 'Baratheon', None, None, None, 'win', 'ambush', 1.0, 0.0, None, 120.0, 'Gregor Clegane', 'Beric Dondarrion', 1.0, "Mummer's Ford", 'The Riverlands', None)
('Battle of Riverrun', 298, 3, 'Joffrey/Tommen Baratheon', 'Robb Stark', 'Lannister', None, None, None, 'Tully', None, None, None, 'win', 'pitched battle', 0.0, 1.0, 15000.0, 10000.0, 'Jaime Lannister, Andros Brax', 'Edmure Tully, Tytos Blackwood', 1.0, 'Riverrun', 'The Riverlands', None)
('Battle of the Green Fork', 298, 4, 'Robb Stark', 'Joffrey/Tommen Baratheon', 'Stark', None, None, None, 'Lannister', None, None, None, 'loss', 'pitched battle', 1.0, 1.0, 18000.0, 20000.0, 'Roose Bolton, Wylis Manderly, Medger Cerwyn, Harrion Karstark, Halys Hornwood', 'Tywin Lannister, Gregor Clegane, Kevan Lannister, Addam Marbrand', 1.0, 'Green Fork', 'The Riverlands', None)
('Battle of the Whispering Wood', 298, 5, 'Robb Stark', 'Joffrey/Tommen Baratheon', 'Stark', 'Tully', None, None, 'Lannister', None, None, None, 'win', 'ambush', 1.0, 1.0, 1875.0, 6000.0, 'Robb Stark, Brynden Tully', 'Jaime Lannister', 1.0, 'Whispering Wood', 'The Riverlands', None)
('Battle of the Camps', 298, 6, 'Robb Stark', 'Joffrey/Tommen Baratheon', 'Stark', 'Tully', None, None, 'Lannister', None, None, None, 'win', 'ambush', 0.0, 0.0, 6000.0, 12625.0, 'Robb Stark, Tytos Blackwood, Brynden Tully', 'Lord Andros Brax, Forley Prester', 1.0, 'Riverrun', 'The Riverlands', None)
('Sack of Darry', 298, 7, 'Joffrey/Tommen Baratheon', 'Robb Stark', 'Lannister', None, None, None, 'Darry', None, None, None, 'win', 'pitched battle', 0.0, 0.0, None, None, 'Gregor Clegane', 'Lyman Darry', 1.0, 'Darry', 'The Riverlands', None)
('Battle of Moat Cailin', 299, 8, 'Balon/Euron Greyjoy', 'Robb Stark', 'Greyjoy', None, None, None, 'Stark', None, None, None, 'win', 'pitched battle', 0.0, 0.0, None, None, 'Victarion Greyjoy', None, 1.0, 'Moat Cailin', 'The North', None)
('Battle of Deepwood Motte', 299, 9, 'Balon/Euron Greyjoy', 'Robb Stark', 'Greyjoy', None, None, None, 'Stark', None, None, None, 'win', 'siege', 0.0, 0.0, 1000.0, None, 'Asha Greyjoy', None, 1.0, 'Deepwood Motte', 'The North', None)
('Battle of the Stony Shore', 299, 10, 'Balon/Euron Greyjoy', 'Robb Stark', 'Greyjoy', None, None, None, 'Stark', None, None, None, 'win', 'ambush', 0.0, 0.0, 264.0, None, 'Theon Greyjoy', None, 1.0, 'Stony Shore', 'The North', "Greyjoy's troop number based on the Battle of Deepwood Motte, in which Asha had 1000 soldier on 30 longships. That comes out to ~33 per longship. In the Battle of the Stony Shore, Theon has 8 longships, and just we can estimate that he has 8*33 =265 troops.")
("Battle of Torrhen's Square", 299, 11, 'Robb Stark', 'Balon/Euron Greyjoy', 'Stark', None, None, None, 'Greyjoy', None, None, None, 'win', 'pitched battle', 0.0, 0.0, 244.0, 900.0, 'Rodrik Cassel, Cley Cerwyn', 'Dagmer Cleftjaw', 1.0, "Torrhen's Square", 'The North', "Greyjoy's troop number comes from the 264 estimate to have arrived on the stony shore minus the 20 Theon takes to attack Winterfell. Thus 264-20=244")
('Battle of Winterfell', 299, 12, 'Balon/Euron Greyjoy', 'Robb Stark', 'Greyjoy', None, None, None, 'Stark', None, None, None, 'win', 'ambush', 0.0, 1.0, 20.0, None, 'Theon Greyjoy', 'Bran Stark', 1.0, 'Winterfell', 'The North', 'It isn\'t mentioned how many Stark men are left in Winterfell, other than "very few".')
("Sack of Torrhen's Square", 299, 13, 'Balon/Euron Greyjoy', 'Balon/Euron Greyjoy', 'Greyjoy', None, None, None, 'Stark', None, None, None, 'win', 'siege', 0.0, 1.0, None, None, 'Dagmer Cleftjaw', None, 1.0, "Torrhen's Square", 'The North', None)
('Sack of Winterfell', 299, 14, 'Joffrey/Tommen Baratheon', 'Robb Stark', 'Bolton', 'Greyjoy', None, None, 'Stark', None, None, None, 'win', 'ambush', 1.0, 0.0, 618.0, 2000.0, 'Ramsay Snow, Theon Greyjoy ', 'Rodrik Cassel, Cley Cerwyn, Leobald Tallhart', 1.0, 'Winterfell', 'The North', "Since House Bolton betrays the Starks for House Lannister, we code this battle as between these two houses. Greyjoy men, numbering only 20, don't play a major part in the fighting and end up dying anyway.")
('Battle of Oxcross', 299, 15, 'Robb Stark', 'Joffrey/Tommen Baratheon', 'Stark', 'Tully', None, None, 'Lannister', None, None, None, 'win', 'ambush', 1.0, 1.0, 6000.0, 10000.0, 'Robb Stark, Brynden Tully', 'Stafford Lannister, Roland Crakehall, Antario Jast', 1.0, 'Oxcross', 'The Westerlands', None)
("Siege of Storm's End", 299, 16, 'Stannis Baratheon', 'Renly Baratheon', 'Baratheon', None, None, None, 'Baratheon', None, None, None, 'win', 'siege', 1.0, 0.0, 5000.0, 20000.0, 'Stannis Baratheon, Davos Seaworth', 'Renly Baratheon, Cortnay Penrose, Loras Tyrell, Randyll Tarly, Mathis Rowan', 1.0, "Storm's End", 'The Stormlands', None)
('Battle of the Fords', 299, 17, 'Joffrey/Tommen Baratheon', 'Robb Stark', 'Lannister', None, None, None, 'Tully', None, None, None, 'loss', 'pitched battle', 0.0, 0.0, 20000.0, 10000.0, 'Tywin Lannister, Flement Brax, Gregor Clegane, Addam Marbrand, Lyle Crakehall, Leo Lefford', 'Edmure Tully, Jason Mallister, Karyl Vance', 1.0, 'Red Fork', 'The Riverlands', None)
('Sack of Harrenhal', 299, 18, 'Robb Stark', 'Joffrey/Tommen Baratheon', 'Stark', None, None, None, 'Lannister', None, None, None, 'win', 'ambush', 1.0, 0.0, 100.0, 100.0, 'Roose Bolton, Vargo Hoat, Robett Glover', 'Amory Lorch', 1.0, 'Harrenhal', 'The Riverlands', None)
('Battle of the Crag', 299, 19, 'Robb Stark', 'Joffrey/Tommen Baratheon', 'Stark', None, None, None, 'Lannister', None, None, None, 'win', 'ambush', 0.0, 0.0, 6000.0, None, 'Robb Stark, Smalljon Umber, Black Walder Frey', 'Rolph Spicer', 1.0, 'Crag', 'The Westerlands', None)
('Battle of the Blackwater', 299, 20, 'Stannis Baratheon', 'Joffrey/Tommen Baratheon', 'Baratheon', None, None, None, 'Lannister', None, None, None, 'loss', 'pitched battle', 1.0, 1.0, 21000.0, 7250.0, 'Stannis Baratheon, Imry Florent, Guyard Morrigen, Rolland Storm, Salladhor Saan, Davos Seaworth', 'Tyrion Lannister, Jacelyn Bywater, Sandor Clegane, Tywin Lannister, Garlan Tyrell, Mace Tyrell, Randyll Tarly', 1.0, "King's Landing", 'The Crownlands', None)
('Siege of Darry', 299, 21, 'Robb Stark', 'Joffrey/Tommen Baratheon', 'Darry', None, None, None, 'Lannister', None, None, None, 'win', 'siege', 0.0, 0.0, None, None, 'Helman Tallhart', None, 1.0, 'Darry', 'The Riverlands', None)
('Battle of Duskendale', 299, 22, 'Robb Stark', 'Joffrey/Tommen Baratheon', 'Stark', None, None, None, 'Lannister', None, None, None, 'loss', 'pitched battle', 1.0, 0.0, 3000.0, None, 'Robertt Glover, Helman Tallhart', 'Randyll Tarly, Gregor Clegane', 1.0, 'Duskendale', 'The Crownlands', None)
('Battle of the Burning Septry', 299, 23, None, None, 'Brotherhood without Banners', None, None, None, 'Brave Companions', None, None, None, 'win', 'pitched battle', 0.0, 0.0, None, None, None, None, 1.0, None, 'The Riverlands', None)
('Battle of the Ruby Ford', 299, 24, 'Joffrey/Tommen Baratheon', 'Robb Stark', 'Lannister', None, None, None, 'Stark', None, None, None, 'win', 'pitched battle', 0.0, 0.0, None, 6000.0, 'Gregor Clegane', 'Roose Bolton, Wylis Manderly', None, 'Ruby Ford', 'The Riverlands', None)
('Retaking of Harrenhal', 299, 25, 'Joffrey/Tommen Baratheon', None, 'Lannister', None, None, None, 'Brave Companions', None, None, None, 'win', 'pitched battle', 1.0, 0.0, None, None, 'Gregor Clegane', 'Vargo Hoat', 1.0, 'Harrenhal', 'The Riverlands', None)
('The Red Wedding', 299, 26, 'Joffrey/Tommen Baratheon', 'Robb Stark', 'Frey', 'Bolton', None, None, 'Stark', None, None, None, 'win', 'ambush', 1.0, 1.0, 3500.0, 3500.0, 'Walder Frey, Roose Bolton, Walder Rivers', 'Robb Stark', 1.0, 'The Twins', 'The Riverlands', 'This observation refers to the battle against the Stark men, not the attack on the wedding')
('Siege of Seagard', 299, 27, 'Robb Stark', 'Joffrey/Tommen Baratheon', 'Frey', None, None, None, 'Mallister', None, None, None, 'win', 'siege', 0.0, 1.0, None, None, 'Walder Frey', 'Jason Mallister', 1.0, 'Seagard', 'The Riverlands', None)
('Battle of Castle Black', 300, 28, 'Stannis Baratheon', 'Mance Rayder', 'Free folk', 'Thenns', 'Giants', None, "Night's Watch", 'Baratheon', None, None, 'loss', 'siege', 1.0, 1.0, 100000.0, 1240.0, 'Mance Rayder, Tormund Giantsbane, Harma Dogshead, Magnar Styr, Varamyr', 'Stannis Baratheon, Jon Snow, Donal Noye, Cotter Pyke', 0.0, 'Castle Black', 'Beyond the Wall', None)
('Fall of Moat Cailin', 300, 29, 'Joffrey/Tommen Baratheon', 'Balon/Euron Greyjoy', 'Bolton', None, None, None, 'Greyjoy', None, None, None, 'win', 'siege', 0.0, 0.0, None, None, 'Ramsey Bolton', None, 0.0, 'Moat Cailin', 'The North', None)
('Sack of Saltpans', 300, 30, None, None, 'Brave Companions', None, None, None, None, None, None, None, 'win', 'razing', 0.0, 0.0, None, None, 'Rorge', None, 0.0, 'Saltpans', 'The Riverlands', None)
('Retaking of Deepwood Motte', 300, 31, 'Stannis Baratheon', 'Balon/Euron Greyjoy', 'Baratheon', 'Karstark', 'Mormont', 'Glover', 'Greyjoy', None, None, None, 'win', 'pitched battle', 0.0, 0.0, 4500.0, 200.0, 'Stannis Baratheon, Alysane Mormot', 'Asha Greyjoy', 0.0, 'Deepwood Motte', 'The North', None)
('Battle of the Shield Islands', 300, 32, 'Balon/Euron Greyjoy', 'Joffrey/Tommen Baratheon', 'Greyjoy', None, None, None, 'Tyrell', None, None, None, 'win', 'pitched battle', 0.0, 0.0, None, None, 'Euron Greyjoy, Victarion Greyjoy', None, 0.0, 'Shield Islands', 'The Reach', None)
('Invasion of Ryamsport, Vinetown, and Starfish Harbor', 300, 33, 'Balon/Euron Greyjoy', 'Joffrey/Tommen Baratheon', 'Greyjoy', None, None, None, 'Tyrell', None, None, None, 'win', 'razing', 0.0, 0.0, None, None, 'Euron Greyjoy, Victarion Greyjoy', None, 0.0, 'Ryamsport, Vinetown, Starfish Harbor', 'The Reach', None)
("Second Seige of Storm's End", 300, 34, 'Joffrey/Tommen Baratheon', 'Stannis Baratheon', 'Baratheon', None, None, None, 'Baratheon', None, None, None, 'win', 'siege', 0.0, 0.0, None, 200.0, 'Mace Tyrell, Mathis Rowan', 'Gilbert Farring', 0.0, "Storm's End", 'The Stormlands', None)
('Siege of Dragonstone', 300, 35, 'Joffrey/Tommen Baratheon', 'Stannis Baratheon', 'Baratheon', None, None, None, 'Baratheon', None, None, None, 'win', 'siege', 0.0, 0.0, 2000.0, None, 'Loras Tyrell, Raxter Redwyne', 'Rolland Storm', 0.0, 'Dragonstone', 'The Stormlands', None)
('Siege of Riverrun', 300, 36, 'Joffrey/Tommen Baratheon', 'Robb Stark', 'Lannister', 'Frey', None, None, 'Tully', None, None, None, 'win', 'siege', 0.0, 0.0, 3000.0, None, 'Daven Lannister, Ryman Fey, Jaime Lannister', 'Brynden Tully', 0.0, 'Riverrun', 'The Riverlands', None)
('Siege of Raventree', 300, 37, 'Joffrey/Tommen Baratheon', 'Robb Stark', 'Bracken', 'Lannister', None, None, 'Blackwood', None, None, None, 'win', 'siege', 0.0, 1.0, 1500.0, None, 'Jonos Bracken, Jaime Lannister', 'Tytos Blackwood', 0.0, 'Raventree', 'The Riverlands', None)
('Siege of Winterfell', 300, 38, 'Stannis Baratheon', 'Joffrey/Tommen Baratheon', 'Baratheon', 'Karstark', 'Mormont', 'Glover', 'Bolton', 'Frey', None, None, None, None, None, None, 5000.0, 8000.0, 'Stannis Baratheon', 'Roose Bolton', 0.0, 'Winterfell', 'The North', None)

#### Checking the DB again!

```SQL
dsa_student=> \x
Expanded display is on.
dsa_student=> select * from battle limit 1;
-[ RECORD 1 ]-------+---------------------------
battle_number       | 1
name                | Battle of the Golden Tooth
year                | 298
attacker_king       | Joffrey/Tommen Baratheon
defender_king       | Robb Stark
attacker_1          | Lannister
attacker_2          |
attacker_3          |
attacker_4          |
defender_1          | Tully
defender_2          |
defender_3          |
defender_4          |
attacker_outcome    | win
battle_type         | pitched battle
major_death         | 1
major_capture       | 0
attacker_size       | 15000
defender_size       | 4000
attacker_commanders | Jaime Lannister
defender_commanders | Clement Piper, Vance
summer              | 1
location            | Golden Tooth
region              | The Westerlands
note                |
```

Finally lets close our connection to PostgreSQL.

In [28]:
if(connection):
    cursor.close()
    connection.close()
    print("PostgreSQL connection is closed")

PostgreSQL connection is closed

# Save your notebook, then `File > Close and Halt`

---